h1 {
    font-family: 'Arima', cursive;
    text-align: center;
}
h2, h3{
    font-family: 'Arima', cursive;
    color:#006d77;
}
.list {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-style: italic;
}
body {
    background-color:#83c5be;
    font-size: 20px;
    padding:1%;
}
.picture {
    border-radius: 20%;
    float: left;
    width: 170px;
    padding: 20px ;
    background-color: #edf6f9;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bold;
}
div {
    border: 2px solid #edf6f9;
}
.lado {
height: 300px;

}
#if{
 position: relative;
 top: 20%;
 margin-left: 22%;
 margin-right: 3%;
 
}
h2 {
    margin: 2%;
}
ul.hab li:nth-child(odd){
color: #e29578;
}